<lib-form-section 
  title="Cull Idle Time"
  text="Optional. Set a numeric cull idle time (in minutes) for this notebook server. If not set,
        default cull idle time after inactivity will be 60 minutes."
  i18n-title="Input box to set per notebook cull idle timeout"
>
<div class="flex-column">
  <mat-form-field>
    <mat-label></mat-label>
    <input
      [formControl]="parentForm.get('cullIdleTime')"
      ng-trim="false"
      maxLength="4"
    >
    <mat-error>{{ getNumberError() }}</mat-error>
  </mat-form-field>
</div>
</lib-form-section>
