.server-type {
  height: 32px;
  width: 150px;
}

.server-type-wrapper {
  margin-bottom: 1rem;
  width: fit-content;
}

.server-type-label {
  height: 24px;
  width: 100px;
  line-height: 24px; /* vertical centered */
  display: inline-block;
}
