<lib-form-section
  title="IAM Role"
  text="(Optional) Specify the AWS IAM role to use with this notebook server. This will be the 
  default role, if set, for all workflow runs and code executed in this notebook."
  i18n-title="Title for the iam role section of the form"
  i18n-text="Text for the iam role form section"
  *ngIf="isOnboardingNamespace"
>

  <div class="flex-column">

  <mat-form-field
    class="wide"
    appearance="outline"
  >
    <mat-label i18n>IAM Role</mat-label>
      <input
        matInput
        [formControl]="parentForm.get('iamRole')"
        ng-trim="false"
        value=""
      >
    <mat-error>{{ getRoleError() }}</mat-error>
  </mat-form-field>

  </div>

</lib-form-section>