<lib-form-section
  title="CPU / RAM / Storage"
  text="Specify the total amount of CPU, RAM and ephemeral Storage reserved by your Notebook Server.
         For CPU-intensive workloads, you can choose more than 1 CPU (e.g. 1.5)."
  icon="fa:fas:microchip"
  i18n-title="Title for the CPU/RAM/STORAGE form section"
  i18n-text="Text for the CPU/RAM/STORAGE form section"
>
  <div class="row">
    <!--CPU-->
    <mat-form-field class="column" appearance="outline">
    <mat-label i18n>Requested CPUs</mat-label>
    <mat-select [formControl]="parentForm.get('cpu')">
      <ng-container *ngIf="parentForm.get('affinityConfig').value == 'general-purpose'">
        <mat-option *ngFor="let v of cpusCountGP" [value]="v">
          {{ v }}
        </mat-option>
      </ng-container>
      <ng-container *ngIf="parentForm.get('affinityConfig').value == 'memory-optimized'">
        <mat-option *ngFor="let v of cpusCountMO" [value]="v">
          {{ v }}
        </mat-option>
      </ng-container>
      <ng-container *ngIf="parentForm.get('affinityConfig').value == 'p2'">
        <mat-option *ngFor="let v of cpusCountP2" [value]="v">
          {{ v }}
        </mat-option>
      </ng-container>
      <ng-container *ngIf="parentForm.get('affinityConfig').value == 'p3'">
        <mat-option *ngFor="let v of cpusCountP3" [value]="v">
          {{ v }}
        </mat-option>
      </ng-container>
    </mat-select>
    </mat-form-field>
    <!--RAM-->
    <lib-positive-number-input
      class="column"
      min="1.0"
      step="1.0"
      [sizeControl]="parentForm.get('memory')"
      label="Requested memory in Gi"
      i18n-label
    ></lib-positive-number-input>

    <!--STORAGE-->
    <lib-positive-number-input
      class="column"
      min="4.0"
      max="32.0"
      step="1.0"
      [sizeControl]="parentForm.get('storage')"
      label="Requested storage in Gi"
      i18n-label
    ></lib-positive-number-input>
  </div>

  <lib-form-section
  title=""
  text="We are giving you an equal proportion of GPU, CPU, Memory. To get more CPU or Memory request more GPUs."
  i18n-title="Title for the warning message for GPU selection"
  i18n-text="Text for the warning message for GPU selection"
  *ngIf="parentForm.get('affinityConfig').value == 'p2' || parentForm.get('affinityConfig').value == 'p3'"
  >
  </lib-form-section>
</lib-form-section>
